body {
    background-color: #303030;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}

header, h2{
    text-align: center;
}

main{
    background-color: #666666;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
}

h2{
    padding: 15px;
    color: yellow;
}